/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

header nav li {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#overlay {
  opacity: 50%;
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

button.active {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
.form_container {
  width: 50%;
  margin: auto;
}
.form_container > * {
  text-align: center;
}
.form_container h2 {
  margin-bottom: 20px;
}
.form_container form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.form_container input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form_container label {
  margin: 2em 0 1em 0;
}
.form_container textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

button {
  font-family: "Syne";
  font-weight: 700;
  margin: 2em auto;
  padding: 10px 15px 10px 15px;
  color: #1d6154;
  background-color: white;
  text-align: center;
  border-radius: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #1d6154;
}

#button_container {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  width: 60%;
  gap: 20px;
}

#modal_trigger {
  display: none;
  cursor: pointer;
}

#logout_button {
  display: none;
}

#edit_mode_banner {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
}

#banner_content {
  display: flex;
  gap: 12px;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  display: none;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 630px;
  padding: 20px;
  overflow: auto;
  min-height: 700px;
}

.modal .modal-header {
  margin-bottom: 50px;
}

.modal .modal-header .modal-title {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin-top: 10px;
}

.modal .modal-header .modal-title #modal_gallery_title {
  display: block;
}

.modal .modal-header .modal-title #modal_form_title {
  display: none;
}

.modal .modal-header .modal-controls {
  display: flex;
}

.modal .modal-header .modal-controls > div {
  flex-grow: 1;
}

.modal .modal-header .modal-controls .modal-controls-previous {
  cursor: pointer;
}

.modal .modal-header .modal-controls .modal-controls-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.modal .modal-body {
  border-bottom: 1px solid #b3b3b3;
  height: 440px;
  margin: 0 80px;
  padding-bottom: 20px;
}

.modal .modal-body #modal_gallery {
  row-gap: 2.5rem;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  column-gap: 0.75rem;
  justify-content: space-between;
  align-content: start;
}

.modal .modal-body #modal_gallery .delete-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 17px;
  cursor: pointer;
}

.modal .modal-body #modal_gallery > figure {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: contain;
  position: relative;
}

.modal .modal-body #modal_gallery > figure img {
  width: 100%;
}

.modal .modal-body #modal_form_container {
  display: none;
}

.modal
  .modal-body
  #modal_form_container
  #modal_form
  #form_file_input_container {
  display: flex;
  justify-content: center;
  height: 180px;
  border-radius: 3px;
  background-color: #e8f1f6;
}

.modal
  .modal-body
  #modal_form_container
  #modal_form
  #form_file_input_container
  #form_file_input_selected_image {
  display: none;
}

.modal
  .modal-body
  #modal_form_container
  #modal_form
  #form_file_input_container
  #form_file_input_controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  width: 100%;
}

.modal
  .modal-body
  #modal_form_container
  #modal_form
  #form_file_input_container
  label {
  width: 38%;
  height: 36px;
  border-radius: 50px;
  background-color: #cbd6dc;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #306685;
  cursor: pointer;
}

.modal
  .modal-body
  #modal_form_container
  #modal_form
  #form_file_input_container
  input {
  display: none;
}

.modal
  .modal-body
  #modal_form_container
  #modal_form
  #form_file_input_container
  span {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
}

.modal .modal-body #modal_form_container #modal_form .input-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  row-gap: 1rem;
}

.modal .modal-body #modal_form_container #modal_form .input-container input,
.modal .modal-body #modal_form_container #modal_form .input-container select {
  height: 51px;
  border: none;
  background: #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
  padding: 0 1rem;
  font-size: 14px;
}

.modal .modal-footer {
  display: flex;
  margin-top: 20px;
}

.modal .modal-footer button {
  color: white;
  background-color: #1d6154;
  width: 40%;
  cursor: pointer;
}

.modal .modal-footer #open_form_buttom {
  display: block;
}

.modal .modal-footer #submit_form_button {
  display: none;
}
